.portfolio__main__container {
    color: var(--font-color);
}

.portfolio__main__container h1 {
    text-align: center;
    margin-top: 3rem;
}
.portfolio__main__container p {
    text-align: center;
}

.swiper-slide {
    display: flex;
}

.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}

/* MEDIA SCREENS */

