.portfolio__main__container {
    margin-bottom: 15rem;
}

.portfolio__small__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 calc(33.33% - 10px);
}

.portfolio__title {
    text-decoration: underline;
    text-decoration-color: var(--font-color-underline);
}

.portfolio__main__container h1 {
    text-align: center;
    margin-top: 3rem;
    /* margin-bottom: 3rem; */
}
/* .portfolio__main__container p {
    text-align: center;
} */

/* MEDIA SCREENS */

