.project__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    scale: .9;
    font-size: 1.2rem;
}

/* .swiperPortfolio:global(.swiper-pagination-bullet) {
        background: white;
        width: 1rem;
        height: 1rem;
        border-radius: .5rem;
        opacity: 1;
} */

.project__container img {
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    object-fit: scale-down;
}

.descriptionTitle {
    margin-top: 3rem;
    text-shadow: 1px 1px 2px black;
}

.technologiesTitle {
    margin-top: 3rem;
    text-shadow: 1px 1px 2px black;
}

.website__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .website__links:hover {
    background-color: aqua
} */

.github__icon {
    height: 100px;
    width: 100px;
    filter: opacity(0.5) drop-shadow(0 0 white) brightness(3);
}

.github__icon:hover {
    filter: opacity(0.5) drop-shadow(0 0 aqua) brightness(3);
}

.deployed__icon {
    height: 100px;
    width: 100px;
    filter: opacity(0.5) drop-shadow(0 0 white) brightness(3);
}

.deployed__icon:hover {
    filter: opacity(0.5) drop-shadow(0 0 aqua) brightness(3);
}

@media only screen and (max-width: 768px) {
    .project__container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}