.links a:hover {
    color: var(--font-color-hover) !important;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sunsvg {
    filter: opacity(0.5) drop-shadow(0 0 white) brightness(3);
}
  
svg {
    width: 2rem;
    height: 2rem;
    /* fill: currentColor; */
}

.navbar__toggle {
    margin-left: 10px;
}