.links a:hover {
    background-color: var(--font-color-hover);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sunsvg {
    filter: opacity(0.5) drop-shadow(0 0 white) brightness(3);
}
  
svg {
    width: 2rem;
    height: 2rem;
    /* fill: currentColor; */
}
/* 
style={{ zIndex: '2', position: 'fixed', top: '0', width: '100%' }} */